<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/board.css" />
    <title>게시물 보기</title>
  </head>
  <body>
    <div class="container">
      <div id="header-container"></div>
      <div class="post-section">
        <h2 class="post-title">제목 1</h2>
        <div class="post-info">
          <div class="author-info">
            <div class="author-pic"></div>
            <span class="author">더미 작성자 1</span>
          </div>
          <span class="date">2021-01-01 00:00:00</span>
          <div class="post-buttons">
            <button class="edit-button">수정</button>
            <button class="delete-button">삭제</button>
          </div>
        </div>
        <hr class="divider" />
        <div class="post-image">
          <img src="#" alt="게시물 이미지" />
        </div>
        <p class="post-content">
          무엇을 얘기할까요? 아무말이라면, 삶은 항상 놀라운 모험이라고
          생각합니다. 우리는 매일 새로운 경험을 하고 배우며 성장합니다. 때로는
          어려움과 도전이 있지만, 그것들이 우리를 더 강하게 지켜주게 만듭니다.
          또한 우리는 주변의 사람들과 연결되어 사랑과 지지를 받습니다. 그래야지
          삶을 소중하고 의미가 있습니다.
        </p>

        <div class="post-stats">
          <button class="stat-button">
            <b>123<br />좋아요</b>
          </button>
          <button class="stat-button">
            <b>123<br />조회수</b>
          </button>
          <button class="stat-button">
            <b>123<br />댓글</b>
          </button>
        </div>

        <div class="comment-section">
          <div class="comment-header">
            <hr class="comment-divider" />
          </div>
          <textarea
            class="comment-input"
            placeholder="댓글을 남겨주세요!"
          ></textarea>
          <div class="button-container">
            <button class="submit-comment">댓글 등록</button>
          </div>
        </div>

        <div class="comment-list">
          <div class="comment-item">
            <div class="comment-header">
              <div class="author-info">
                <div class="author-pic"></div>
                <span class="comment-author">더미 작성자 1</span>
                <span class="comment-date">2021-01-01 00:00:00</span>
                <div class="comment-buttons">
                  <button class="edit-comment">수정</button>
                  <button class="delete-comment">삭제</button>
                </div>
              </div>
            </div>
            <p class="comment-content">댓글 내용</p>
          </div>
        </div>
      </div>
    </div>
    <script src="../../js/header.js"></script>
    <script src="../../js/board.js"></script>
  </body>
</html>
