<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/modal.css">
    <title>모달창</title>
</head>
<body>
  <!-- 모달 창 -->
<div class="modal-overlay">
  <div class="modal">
      <h2>게시글을 삭제하시겠습니까?</h2>
      <p>삭제한 내용은 복구할 수 없습니다.</p>
      <div class="modal-buttons">
          <button class="cancel-button">취소</button>
          <button class="confirm-button">확인</button>
      </div>
  </div>
</div>

</body>
</html>
