<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/memberupdate.css" />
    <title>회원정보 수정</title>
  </head>
  <body>
    <div class="container">
      <div id="header-container"></div>
      <div class="main-section">
        <h2>회원정보 수정</h2>

        <div class="profile-image-container">
          <p class="profile-label"><b>프로필 사진*</b></p>
          <div class="image-placeholder" id="imagePlaceholder">
            <button class="change-image-button" id="change-Button">변경</button>
            <input
              type="file"
              id="imageUpload"
              accept="image/*"
              style="display: none"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="email"><b>이메일</b></label>
          <p id="email">startupcode@gmail.com</p>
        </div>

        <div class="form-group">
          <label for="nickname"><b>닉네임</b></label>
          <input type="text" id="nickname" value="스타트업코드" />
          <small id="helper-text" class="helper-text"></small>
        </div>

        <button class="submit-button">수정하기</button>
        <button class="withdraw-button">회원 탈퇴</button>
        <br />
        <button class="complete-button">수정 완료</button>
      </div>
    </div>
    <script src="../../js/config.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/memberupdate.js"></script>
  </body>
</html>
