<!-- header.html -->
<header class="header">
  <button class="back-button" onclick="window.history.back();">◀︎</button>
  <div class="logo" id="logo">아무 말 대잔치</div>
  <div class="profile-wrapper" style="position: relative">
    <div class="profile-pic"></div>
    <div class="dropdown-menu">
      <div class="dropdown-item" data-link="/views/member/memberupdate.html">
        회원정보수정
      </div>
      <div class="dropdown-item" data-link="/views/member/update.html">
        비밀번호수정
      </div>
      <div class="dropdown-item" data-link="login.html">로그아웃</div>
    </div>
  </div>
</header>
